@using Microsoft.AspNetCore.Http
@using Microsoft.EntityFrameworkCore
@using Microsoft.EntityFrameworkCore.Diagnostics
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
	DataContext db=new DataContext();
    User usr = HttpContextAccessor.HttpContext.Session.GetObject<User>("user");
	int year = DateTime.Now.Year;
	int month = DateTime.Now.Month;
	string term = "";
	if (1 < month && month < 6)
	{
		term = "Bahar";
	}else if (6 <= month && month < 9)
	{
		term = "Yaz";
	}
	else if(9<=month && month <=12)
	{
		term = "Güz";
	}
	
}
@if (usr.UserRole == 1)
{
	
	Student getStudent = db.Students.FirstOrDefault(t => t.UserId==usr.UserId);
	List<CourseStudent> getCourseStudentList = db.CourseStudents.Where(t => t.StudentId == getStudent.StudentId).ToList();
	List<Course> getCourseList=new List<Course>();	
	int i = 0;
	foreach (var item in getCourseStudentList)
	{
		Course c = db.Courses.SingleOrDefault(t => t.Id == item.CourseId && t.Year==year.ToString() && t.Term.Equals(term));
		if (c != null)
		{
			getCourseList.Add(c);
		}
		
	}
	List<CourseStudent> getCourseStudentList2 =new List<CourseStudent>();
	foreach (var item in getCourseList)
	{
		CourseStudent cs = db.CourseStudents.FirstOrDefault(t => t.CourseId == item.Id);
		getCourseStudentList2.Add(cs);
		i++;
	}
	<div class="row">
		<div class="col-lg-12 col-lg-12">
			<section class="panel">
				<header class="panel-heading panel-heading-transparent">
					<h2 class="panel-title">Alınan Dersler</h2>
				</header>
				<div class="panel-body">
					<div class="table-responsive">
						<table class="table table-striped mb-none">
							<thead>
							<tr>
								<th>#</th>
								<th>Dersler</th>
								<th>Ders Kodu</th>
								<th>Devamsızlık Sayısı</th>
								<th>Durum</th>
								<th>Detay</th>
							</tr>
							</thead>
							<tbody>
							@{
								 i = 0;
							}
							@foreach (var item in getCourseStudentList2)
							{
								<tr>
									<td>@(i+1)</td>
									<td>@getCourseList[i].CourseName</td>
									<td>@getCourseList[i].CourseCode</td>
									<td>@item.AttendanceSum</td>
									@if (item.AttendanceSituation == 1)
									{
										<td><span class="label label-success">Normal</span></td>
									}
									else if (item.AttendanceSituation == 2)
									{
										<td><span class="label label-warning">Kritik</span></td>

									}
									else if (item.AttendanceSituation == 3)
									{
										<td><span class="label label-danger">Kaldı</span></td>
									}
									@{
										i++;	
									}
									<td>
										<a href="~/Home/Detail/@item.Id" class="btn btn-info">Detay</a>
										<!-- <div class="progress progress-sm progress-half-rounded m-none mt-xs light">
											<div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
												100%
											</div>
										</div> -->
									</td>
								</tr>
							}
							</tbody>
						</table>
					</div>
				</div>
			</section>
		</div>
	</div>

}else if (usr.UserRole == 2)
{
	Teacher getTeacher = db.Teachers.FirstOrDefault(t => t.UserId == usr.UserId);
	List<CourseTeacher> getCourseTeacherList = db.CourseTeachers.Where(t => t.TeacherId == getTeacher.TeacherId).ToList();
	List<Course> getCourseList = new List<Course>();
	List<CourseStudent> getCourseStudentList=new List<CourseStudent>();

	int stuNum = 0;
	int i = 0;
	foreach (var crs in getCourseTeacherList)
	{
		Course c = db.Courses.FirstOrDefault(t => t.Id == crs.CourseId && t.Term==term && t.Year==year.ToString());
		if (c != null)
		{
			getCourseList.Add(c);
			for ( i = 0; i < getCourseList.Count; i++)
			{
				CourseStudent cs = db.CourseStudents.FirstOrDefault(t => t.CourseId == getCourseList[i].Id);
				getCourseStudentList.Add(cs);
			}
		}
	}
	List<CourseTeacher> getCourseTeacherList2 = new List<CourseTeacher>();
	foreach (var item in getCourseList)
	{
		CourseTeacher ct = db.CourseTeachers.FirstOrDefault(t => t.CourseId == item.Id);
		if (ct != null)
		{
			getCourseTeacherList2.Add(ct);
		}
	}
	<div class="col-lg-12 col-lg-12">
		<section class="panel">
			<header class="panel-heading panel-heading-transparent">

				<h2 class="panel-title">Verilen Dersler</h2>
			</header>
			<div class="panel-body">
				<div class="table-responsive">
					<table class="table table-striped mb-none">
						<thead>
						<tr>
							<th>#</th>
							<th>Dersler</th>
							<th>Ders Kodu</th>
							<th>Öğrenci sayısı</th>
							<th>Sınıf Listesi</th>
							<th>Yoklama Girişi</th>
						</tr>
						</thead>
						<tbody>
						@{
							i = 0;
						}
						@foreach (var item in getCourseTeacherList2)
						{
							stuNum = 0;
							<tr>
								<td>@(i+1)</td>
								<td>@getCourseList[i].CourseName</td>
								<td>@getCourseList[i].CourseCode</td>
								<td>
									@foreach (var item2 in getCourseStudentList)
									 {
										 if (item2 == null)
										 {
											 continue;
										 }
										 if (item2.CourseId == item.CourseId)
										 {
											 stuNum++;
										 }
									 }
									@stuNum
								</td>
								
								@{
									i++;	
								}
								<td>
									<a href="~/Home/CourseList/@item.CourseId" class="btn btn-xs btn-info">Sınıf Listesi</a>
								</td>
								<td>
									<a href="~/Home/AttendanceEntryList/@item.CourseId" class="btn btn-xs btn-info">Yoklama Girişi</a>
								</td>
							</tr>
						}
						</tbody>
					</table>
				</div>
			</div>
		</section>
	</div>
}
